<footer class='footer' id='footer'>
<div class='container text-center'>
<ul class='social-links'>
<li>
<a href='#link'>
<i class='fa fa-twitter fa-fw'></i>
</a>
</li>
<li>
<a href='#link'>
<i class='fa fa-facebook fa-fw'></i>
</a>
</li>
<li>
<a href='#link'>
<i class='fa fa-google-plus fa-fw'></i>
</a>
</li>
<li>
<a href='#link'>
<i class='fa fa-dribbble fa-fw'></i>
</a>
</li>
<li>
<a href='#link'>
<i class='fa fa-linkedin fa-fw'></i>
</a>
</li>
</ul>

    ©2019 HSBC Group 2019 . All rights reserved
    
<div class='credits'>

      Designed by 
<a href='#'>HSBC</a>
</div>
</div>
</footer>